<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
  <title><%=h @programme.title %></title>
  <description><%=h @programme.synopsis %></description>
  <link><%=h @programme.link %></link>
  <image>
    <link><%=h @programme.link %></link>
    <title><%=h @programme.title %></title>
    <url><%=h @programme.image_url %></url>
  </image>
  <lastBuildDate><%=h Time.now.utc.rfc822 %></lastBuildDate>
  <ttl>3600</ttl>
  <% @programme.episodes.each do |episode| %>
    <item>
      <guid isPermaLink="true"><%=h episode.link %></guid>
      <title><%=h episode.title %></title>
      <link><%=h episode.link %></link>
      <pubDate><%=h episode.broadcasted_at.rfc822 %></pubDate>
      <description><![CDATA[
        <p><%=h episode.synopsis %></p>
        <table>
          <% episode.tracks.each do |track| %>
            <tr>
              <td><%=h track[:title] %></td>
              <td><%=h track[:artist] %></td>
              <td><%=h track[:label] %></td>
            </tr>
          <% end %>
        </table>
      ]]></description>
      <enclosure length="<%=h episode.filesize %>" type="audio/aac" url="<%=h public_url(episode.filename) %>"/>
    </item>
  <% end %>
</channel>
</rss>
